// Define variables for your color scheme

// For example:
$red: #bd191c;
$blue: #3d73cb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1ba969;
$gray: #3b3737;
$brown: rgb(85, 49, 35);

// colors:
$pink: #FC5185;
$light-gray: #F5F5F5;
$light-blue: #3FC1C9;
$dark-blue: #364F6B;
