<div class="blue d-flex justify-content-end">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="col-6 pt-3 px-4">
    <%= form_with url: root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Digite para onde você quer ir"
      %>
      <button name="button" type="submit" class="btn btn-info btn-sm">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
  </div>
</div>
