.card {
  color: $dark-blue;
  border-radius: $border-radius;
  border-color: white;
}

hr {
  color: $pink;
}

.btn {
  color: white;
  border-radius: $border-radius-lg;
  text-transform: uppercase;

  &:hover {
    color: $pink;
  }
}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: $dark-blue;
}

.list-group-item {
  border-color: white;
}

.blockquote {
  font-size: small;
}

.value-box {
  background-color: $green;
  color: white;
  padding: 10px;
  font-size: x-large;
}

.availability-box {
  color: gray;
  font-size: small;
}
